DATABASE_URL=

DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_DBNAME=
DATABASE_PORT=

API_PORT=

APP_PUBLIC_URL=

JWT_SECRET=
JWT_EXPIRES_IN=7d

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

GRAFANA_PASSWORD=